# 依赖文件
node_modules/
package-lock.json

# 数据库文件
*.sqlite
*.db

# 构建产物
dist/
build/

# 环境变量
.env
.env.local

# IDE配置
.idea/
.vscode/
*.swp
*.swo

# 系统文件
.DS_Store
Thumbs.db

# 日志文件
*.log
npm-debug.log*

# 测试文件
coverage/
